[submodule "text-hugifier"]
	path = text-hugifier
	url = https://github.com/simeonjmcg/text-hugifier.git
[submodule "molmass-calc"]
	path = molmass-calc
	url = https://github.com/simeonjmcg/molmass-calc.git
[submodule "radical-simplify"]
	path = radical-simplify
	url = https://github.com/simeonjmcg/radical-simplify.git
[submodule "text-art"]
	path = text-art
	url = https://github.com/simeonjmcg/text-art.git
